@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
.mainresume{
    background-color: #010020;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 8rem;
}
.edRight h1{
    color: #7755a6;
    font-weight: 700;
}

.vn-list{
    display: flex;
    flex-direction: column;
}

.vn-list >a::before{
    content: ' ';
    width: 0%;
    height: 2px;
    display: inline-block;
    background-color: #754dac;
    transition:ease 0.5s;
    text-align: center;
    margin: auto;
}
.vn-list >a:hover:before{
    width: 5%;
    cursor: pointer ;
    margin-right: 0.5rem;
}

.vn-list > a{
    padding: 0.6rem;
    width: 20rem;
    text-decoration: none;
    color: white;
    font-style: none;
    transition:ease 0.9s;
}

.vn-list :hover{
    color: #7755a6 ;
}

.icon-style{
    background-color: #7755a6;
    border-radius: 50px;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-arrow-style{
    font-size : "1rem";
    margin-left : "0.5rem";
}